{% extends 'tools/base.html' %}
{% block content %}
	<br><br>
		<div class="row" id="active">
			<div class="col-md-7 col-lg-7 ">
				<h3>Active analysis</h3>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-8" id="explain">
				<form name = "form" action = "{% url "active" %}#results" method = "POST" >{% csrf_token %} 
					<div class="row">
						<div class="col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
							<label for="comment">IP address or domain name:</label>
							{% if active_ip %}
							<input type="text" class="form-control" value="{{ active_ip }}" name="active_ip">
							{% else %}
							<input type="text" class="form-control" value="" name="active_ip">
							{% endif %}
						</div>
						<div class="col-md-4 col-lg-4">
							<label for="comment">Port:</label>
							{% if active_port %}
							<input type="text" class="form-control" value="{{ active_port }}" name="active_port">
							{% else %}
							<input type="text" class="form-control" value="" name="active_port">
							{% endif %}
						</div>
					</div>
				        <br>
					<div class="row">
						<div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 ">
							<label for="comment">Protocol</label>
							{% if prot_opt1 %}
							<select class="form-control" name="protocol">
								<option class="opt">{{ prot_opt1 }}</option>
								<option class="opt">{{ prot_opt2 }}</option>
							</select>
							{% endif %}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
						       	<button class="btn" type = "submit" value = "Submit" name="active_btn" >
								<strong>Start analysis</strong>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 col-lg-4 explain">
				This tool will analyze a web server looking for special files and directories that give information about the server.:
				<br><br>
				<ul class="list-group">
					<li class="list-group-item">Sensitive files: backups, robots, htaccess, etc</li>
			    		<li class="list-group-item">Administration pages</li> 
		    			<li class="list-group-item">Directory indexing</li> 
		    			<li class="list-group-item">Installation directories</li> 
		    			<li class="list-group-item">Web server structure mapping</li> 
		    			<li class="list-group-item">CMS version</li> 
				</ul>	    
			</div>
		</div>
		<div class="row section-limit">
			<div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 explain">
				{% if result %}
				<div class="row" id="results">
					<div class="col-md-7 col-lg-7 ">
						<h3>Active analysis results</h3>
						<br>
						<div class ="row">
							<div class="col-md-10 col-lg-10">
								{{ resources }}
							</div>
						</div>
					</div>
				</div>
				{% if error1 %}
					<input type="text" id="results" class="form-control" value="{{ error1 }}">
				{% endif %}
				{% endif %}
			</div>
		</div>


	
{% endblock %}

