{% load staticfiles  %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>WSSK</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid" id="body">
	<header class="header2">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'tool_list'  %}" style="padding-left:40px;">WSSK</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="scanner.html">Vulnerability scanner</a></li>
					<li><a href="active.html">Active analysis</a></li>
					<li><a href="passive.html">Passive analysis</a></li>
					<li class="dropdown"><a href="network.html" class="dropdown-toggle" data-toggle="dropdown">Network tools</a>
						<ul class="dropdown-menu">
							<li><a href="network.html#ip">What's my IP</a></li>
							<li><a href="network.html#ping">Ping</a></li>
							<li><a href="network.html#whois">Whois</a></li>
							<li><a href="network.html#traceroute">Traceroute</a></li>
							<li><a href="network.html#lookup">DNS lookup</a></li>
							<li><a href="network.html#reverse">Reverse lookup</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="crypto.html" class="dropdown-toggle" data-toggle="dropdown">Crypto tools</a>
						<ul class="dropdown-menu">
							<li><a href="crypto.html#encoder">Text encoder</a></li>
							<li><a href="crypto.html#calculator">Hash calculator</a></li>
							<li><a href="crypto.html#caesar">Caesar cipher</a></li>
							<li><a href="crypto.html#monoalphabetic">Monoalphabetic cipher</a></li>
							<li><a href="crypto.html#vigenere">Vigenere cipher</a></li>
							<li><a href="crypto.html#transposition">Transposition cipher</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<br>
		<span class="titulo">UNAM-CERT</span> <!--Etiqueta que trabaja en forma de línea.-->
		<h1>Web Security Swiss Knife</h1>
	</header>
	<div class="content container">
		<div class="row">
			<div class="col-md-11 col-lg-11">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	 </div>
	<footer class="footer">
		<p>All rights reserved</p>
		<a href="">Go up</a>
	</footer>
</body>
</html>
