{% extends 'tools/base.html' %}
{% block content %}
	<br><br>
		<div class="row" id="passive">
			<div class="col-md-7 col-lg-7 ">
				<h3>Passive analysis</h3>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-8" id="explain">
				<form name = "form" action = "{% url "passive" %}#results" method = "POST" >{% csrf_token %} 
					<div class="row">
						<div class="col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
							<label for="comment">URL:</label>
							{% if passive_url %}
							<input type="text" class="form-control" value="{{ passive_url }}" name="passive_url">
							{% else %}
							<input type="text" class="form-control" value="" name="passive_url">
							{% endif %}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
						       	<button class="btn" type = "submit" value = "Submit" name="passive_btn" >
								<strong>Start analysis</strong>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 col-lg-4 explain">
				This tool will analyze a web server looking for special files that can be helpful fot attackers to get information about the server.
				Specifically, this tool will look for:
				<br><br>
				<ul class="list-group">
					<li class="list-group-item">Web server fingerprint</li>
			    		<li class="list-group-item">HTTP header analysis</li> 
		    			<li class="list-group-item">Active HTTP methods</li> 
		    			<li class="list-group-item">Index files</li> 
		    			<li class="list-group-item">Verify installation directories</li> 
		    			<li class="list-group-item">HTTPS and certificate analysis</li> 
				</ul>	    
			</div>
		</div>
		<div class="row section-limit">
			<div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 explain">
				{% if result %}
				<div class="row" id="results">
					<div class="col-md-7 col-lg-7 ">
						<h3>Passive analysis results</h3>
						<p>This module looks for the available HTTP methods, the existing index files
						and the robots.txt file. Don't forget to disable the methods PUT, DELETE or TRACE.
						</p>
						<br>
						<br>
					</div>
				</div>
				{% if error1 %}
					<input type="text" id="results" class="form-control" value="{{ error1 }}">
				{% endif %}
				<table class="table table-hover" style="overflow-x:auto;">
					<thead>
						<tr>
							<th>Feature</th>
						        <th>Result</th>
						</tr>
					</thead>
					<tbody>
				      		<tr>
				        		<td>HTTP methods</td>
							<td>{{ http_methods  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Test_HTTP_Methods_(OTG-CONFIG-006)">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>Index files</td>
							<td>{{ index_files  }}</td>
				      		</tr>
				      		<tr>
				        		<td>robots.txt file</td>
							<td>{{ robots_file  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Review_Webserver_Metafiles_for_Information_Leakage_(OTG-INFO-003)">Learn more</a></td>
				      		</tr>
						<!--
				      		<tr>
				        		<td>Installation directories</td>
							<td>{{ install_dir  }}</td>
						</tr>-->
				    	</tbody>
				</table>
				<br>	
				<div class="row">
					<div class="col-md-7 col-lg-7 ">
						<h3>HTTP header analysis</h3>
						<p>This modules helps to determine information from the server, such as the server 
						version, the PHP (or the generator) version and some other headers that may help to make
						safer the connections such as HSTS.</p>
						<br>
						<br>
					</div>
				</div>
				{% if error2 %}
					<input type="text" id="results" class="form-control" value="{{ error2 }}">
				{% endif %}
				<table class="table table-hover" style="overflow-x:auto;">
					<thead>
						<tr>
							<th>HTTP header</th>
						        <th>Result</th>
							<th>More info</th>
						</tr>
					</thead>
					<tbody>
			      			<tr>
							<td>Server</td>
							<td>{{ signature  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Fingerprint_Web_Application_Framework_(OTG-INFO-008)">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>X-Powered-By</td>
							<td>{{ php_version  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Fingerprint_Web_Application_Framework_(OTG-INFO-008)">Learn more</a></td>
				      		</tr>
			      			<tr>
							<td>X-Generator</td>
							<td>{{ cms  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Fingerprint_Web_Application_Framework_(OTG-INFO-008)">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>X-XSS-Protection</td>
							<td>{{ x_xss_protection  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Security_Headers">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>X-Frame-Options</td>
							<td>{{ x_frame_options  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Security_Headers">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>X-Content-Type-Options</td>
							<td>{{ x_content_type_options  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/Security_Headers">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>Strict-Transport-Security</td>
							<td>{{ hsts  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>Set-Cookie: secure</td>
							<td>{{ setcookie_secure  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/SecureFlag">Learn more</a></td>
				      		</tr>
				      		<tr>
				        		<td>Set-Cookie: HTTP Only</td>
							<td>{{ setcookie_httponly  }}</td>
							<td><a target="_blank" href="https://www.owasp.org/index.php/HttpOnly">Learn more</a></td>
				      		</tr>
				    	</tbody>
				</table>	
				<br>	
				<div class="row">
					<div class="col-md-7 col-lg-7 ">
						<h3>HTTPS analysis</h3>
						<p>This module will show information about the certificate, the supported algorithms
						and the available cipher suites of pages that support HTTPS.</p>
						<br>
						<br>
					</div>
				</div>
				{% if error3 %}
					<input type="text" id="results" class="form-control" value="{{ error3 }}">
				{% endif %}
				<table class="table table-hover table-responsive" style="overflow-x:auto;">
					<thead>
						<tr>
							<th>Feature</th>
						        <th>Result</th>
							<th><a target="_blank" href="https://www.owasp.org/index.php/HttpOnly">Learn more</a></th>
						</tr>
					</thead>
					<tbody>
			      			<tr>
							<td>Domain</td>
							<td>{{ cert_domain  }}</td>
				      		</tr>
				      		<tr>
				        		<td>CA</td>
							<td>{{ cert_ca  }}</td>
				      		</tr>
				      		<tr>
				        		<td>Validity</td>
							<td>{{ cert_validity  }}</td>
				      		</tr>
				      		<tr>
				        		<td>Encryption algorithm</td>
							<td>{{ cert_algorithm  }}</td>
				      		</tr>
				      		<tr>
				        		<td>Key</td>
							<td>{% for line in ca_key  %}
								{{ line }}<br>
							    {% endfor %}
							</td>
				      		</tr>
				      		<tr>
				        		<td>Supported SSL/TLS protocols </td>
							<td>{% for p in ssl_protocols  %}
								{{ p }}<br>
							    {% endfor %}
							</td>
				      		</tr>
				    	</tbody>
				</table>	
				{% if error4 %}
					<input type="text" id="results" class="form-control" value="{{ error4 }}">
				{% endif %}
				<table class="table table-hover table-little" style="overflow-x:auto;">
					<thead>
						<tr>
							<th>SSL Ciphers</th>
						</tr>
					</thead>
					<tbody>
						{% for c in cipher_suites %}
						<tr>
							<td> {{ c }} </td>
						</tr>
						{% endfor %}
				    	</tbody>
				</table>
				{% endif %}
			</div>
		</div>


	
{% endblock %}

