{% extends 'tools/base.html' %}
{% block content %}
	<section class="segunda-seccion">
		<a href = active.html >
			<div class="izq img-responsive">
				<img src="/static/img/active.png">
			</div>
			<div class="der">
				<h3>Server active analysis</h3>
				<p>This module can return a simple map of the web server structure and use it to
				look for different kind of files and directories.</p>
			</div>
		</a>
	</section>
	<section class="segunda-seccion">
		<a href = passive.html >
			<div class="izq img-responsive">
				<img src="/static/img/passive.png">
			</div>
			<div class="der">
				<h3>Server passive analysis</h3>
				<p>This module can analyze a web server looking for HTTPS information and HTTP headers.</p>
			</div>
		</a>
	</section>
	<section class="segunda-seccion">
		<a href = crypto.html >
			<div class="izq img-responsive">
				<img src="/static/img/crypto.png">
			</div>
			<div class="der">
				<h3>Cryptography tools</h3>
				<p>This module has a series of simple but useful tools such as an encoder and a hash calculator.</p>
			</div>
		</a>
	</section>
	<section class="segunda-seccion">
		<a href = network.html >
			<div class="izq img-responsive">
				<img src="/static/img/network.png">
			</div>
			<div class="der">
				<h3>Network tools</h3>
				<p>This module has some useful tools to test network settings such as an ICMP (ping) tool and DNS lookup.</p>
			</div>
		</a>
	</section>
	<section class="segunda-seccion">
		<a href = scanner.html >
			<div class="izq img-responsive">
				<img src="/static/img/scanner.png">
			</div>
			<div class="der">
				<h3>Vulnerability scanner</h3>
				<p>This module can analyze a server looking for some well known vulnerabilities such as Heartbleed or Shellshock.</p>
			</div>
		</a>
	</section>
{% endblock %}

